body{
 background-color: black;
}
.card{
 background-color: floralwhite;
 border-radius: 8px;
 overflow: hidden;
 margin-top: 100px;
}

.cover{
 height: 200px;
 background-color: #ececec;
}

.square{
 width: 80px;
 height: 80px;
 border-radius: 5px;
 margin-bottom: 20px;
 background-color: #ececec;
}

.info{
 padding: 20px;
}

.line{
 height: 30px;
 border-radius: 2px;
 margin-bottom: 20px;
 background-color: #ececec;
}

.cover, .line, .square{
 background-image: linear-gradient(120deg, #ececec 50%, #fafafa 60%, #fafafa 61%, #ececec 70%);
 background-size: 200px;
 background-position: 100% 0;
 animation: naim 2s linear infinite;
}

@keyframes naim{
 100%{
  background-position: -100% 0;
 }
}
